*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

body{
  background-color: #F67D5C;
}

/* header styles */
header{
  position: absolute;
  position: fixed;
  height: 72px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  
  
  top: 0px;

  display: flex;
  align-items: center;
  justify-content:center;

  background: rgba(246, 125, 92, 0.59);
  mix-blend-mode: normal;
  backdrop-filter: blur(30px);
}

#logo{
  margin-left: 10px;
}

/*#menu general style */

#btMenu {
  background: transparent;
  border-style: none;
  display: block;
}

#btMenu:hover{
  cursor: pointer;
}
#menu{
  position: absolute;
  width: 307px;
  height: 206px;
  top: 72px;
  display: none;
  align-items: center;
  justify-content: center;

  border-radius: 7px;
  background: rgb(255, 145, 114);
}

#menu.active {
  display:flex;
}

/*#Menu components style */
ul{
  width: 100%;
  height: 85%;
  padding: 0px;
  margin: 0px;
  display: grid;
  align-items: center;
  justify-content: space-around;
}

#menu li{
  text-decoration: none;
}

#menu ul li a {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;

  line-height: 24px;

  align-items: center;
  text-align: left;

  color: #F1F1F1;
}

#menu ul li a i{
  margin-right: 0.5rem;
}


/* main content general style */
main {
  width: 100%;
  height: auto;
  padding: 2rem;
  margin-top: 89px;
  align-items:center;
  justify-content: center;
  margin-bottom: 2.4rem;
}

 .ladingButtonsgroup {
  display: grid;
  width: 100%;
  height:479,44px;
  padding: 3rem;
  justify-content: center;
}

.ladingButtonsgroupText{
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 100px;  

color: #F2F2F2;
}

 .ladingButtons{
  width: 588px;
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 140px;
}

/* Sort button style - begin */
 .sortButton{
  display: grid;
  align-items: center;

  height: 144px;
  width: 266px;
  border-radius: 10px;
  margin-right: 56px;
  color: #F1F1F1;

  background: #FFB8A5;
}

 .sortButton i{
  text-align: center;
  font-size:35px;
  color: #F1F1F1;
  margin-top: 15px;
}

 .ladingButtonsgroup .ladingButtons .sortButton h3{
  font-family: Montserrat;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size:25px;
  color: #F1F1F1;
  margin-top: -35px;
}
/* Sort button style - end */

/* Tutorial button style - begin */
 .ladingButtonsgroup .ladingButtons #tutorialButton{
  display: grid;
  align-items: center;
  justify-content: space-around;
  height: 144px;
  width: 266px;
  border-radius: 10px;
  color: #F1F1F1;

  background: #5B7290;
}

 .ladingButtonsgroup .ladingButtons #tutorialButton i{
  text-align: center;
  font-size: 35px;
  margin-top: 15px;
  color: #F1F1F1;
}

 .ladingButtonsgroup .ladingButtons #tutorialButton h3{
  font-family: Montserrat;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin-top: -35px;
  color: #F1F1F1;
}
/* Tutorial button style - end */

/* Chrome extension button style - begin */
.chromeButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 588px;

  background: linear-gradient(91.19deg, #FEF4CD -7.78%, #FBE697 66.09%);
  border-radius: 7px;
}

/* Pop-Up styles - begin */
#tutorialPopup {
  position: absolute;
  width: 47rem;
  height: calc(100vh - 60px);
  right: 0px;
  padding: 3rem;
  top: 60px;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.789);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 0 0 0 0;
}
#tutorialPopup.active {
  display: grid;
  align-items: center;
  justify-content: center;
  cursor:default;
}

#tutorialPopup h2{
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}

.textPopup {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0rem;
  width: 90%;
  height: auto;

  color: #000000;
}

#btClosePopup {
  font-size: 20px;
  color: #f1f1f1;

  width: 8rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.8rem;
  background: #F67D5C;
  border-style: none;
}
#btClosePopup:hover {
  cursor: pointer;
}
/* Pop-Up styles - end */

.chromeButton i{
  font-size: 20px;
  text-align: center;
  margin-right: 15px;
}

#chromeTextButton{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  color: #323232;
}
/* Chrome extension button style - end */

#sort{
  display: grid;
  align-items:center;
  justify-content:center;
}

#b1{
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 2rem;
  color: #F1F1F1;
}
/* Cards styles - begin */
.cardsLanding{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 0;
}
/* General card style - begin */
#card{
  display: grid;
  align-items: center;
  justify-content: center;
  width: 19rem;
  height: 100%;
  padding: 1rem;
  margin: 0rem 2rem;
  border-radius: 16px;

  background: #ffffff;
}
#card:hover{
  box-shadow: 6px 6px 10px rgba(150, 150, 150, 0.65);
}
/* General card style - end */
/* main of cardsLanding - begin */
.cardLabel{
  max-width: 100%;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
.cardInput{
  font-family: Montserrat;
  font-weight: 600;
  border-color: #FFB8A5;
  border-style: solid;
  border-radius: 10px;
  padding: .6rem;
  align-self: center;
  margin-bottom: 1rem;
}
#names{
  padding: 10px;
  min-width: 100%;
  max-width: 3.5em;
  min-height: 4em;
  max-height: 10em;
  border-radius: 5px;
  border: 1px solid #F67D5C;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 1px #999;
}
.cardButton{
  width: 5.7rem;
  border-style: none;
  border-radius: 4rem;
  background-color: #5B7290;
  padding: .5rem;
  color: #F1F1F1;
  font-family: Montserrat;
  font-weight: 600;
  margin-left: 5rem;
}
.cardResults{
  margin-top: .5rem;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap;
}
#resultadoNumeros{
  font-family: Montserrat;
  font-weight: 600;
  color:#F67D5C;

  /* overflow:inherit; */
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  line-height: 20px;     /* fallback */
  max-height: 300px;      /* fallback */
  /* -webkit-line-clamp: 3; */ /* number of lines to show */
  -webkit-box-orient: vertical;
}
#resultadoNomes{
  font-family: Montserrat;
  font-weight: 600;
  color:#F67D5C;

  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  line-height: 32px;     /* fallback */
  max-height: 300px;      /* fallback */
 /*  -webkit-line-clamp: 20; */ /* number of lines to show */
  -webkit-box-orient: vertical;
}
/* main of cardsLanding - end */
/* Cards styles - end */

/* Banner instagram style - begin */
.bannerBox{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.bannerIMG{
  width: 70%;
  border-radius:5px;
}
/* banner instagram style - end */

footer{
  display: grid;
  align-content: center;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
  height: 233px;
  background-color: #323232;
}

#sg-io-wg{

}

footer span{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24;
  color:#F1F1F1;
  margin-bottom: 0px;
}

@media (max-width: 952px){}
@media (max-width: 952px){}
@media (max-width: 952px){}
@media (max-width: 555px){
/* header styles */
header{
  position: absolute;
  position: fixed;
  height: 72px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content:center;

  background: rgba(246, 125, 92, 0.59);
  mix-blend-mode: normal;
  backdrop-filter: blur(30px);
}

#logo{
  margin-left: 10px;
}

/*#menu general style */
#menu{
  position: absolute;
  width: 90%;
  height: 206px;
  top: 72px;
  display: none;
  align-items: center;
  justify-content: center;

  border-radius: 7px;
  background: rgb(255, 145, 114);
}

/*#Menu components style */
#menu ul{
  width: auto;
  height: 85%;
  padding: 0px;
  margin: 0px;
  display: grid;
  align-items: center;
  justify-content: space-around;
}

#menu li{
  text-decoration: none;
}

#menu ul li a {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;

  line-height: 24px;

  align-items: center;
  text-align: left;

  color: #F1F1F1;
}

#menu ul li a i{
  margin-right: 0.5rem;
}


/* main content general style */
main {
  width: 100%;
  height: auto;
  padding: 2rem;
  margin-top: 89px;
  align-items:center;
  justify-content: center;
  margin-bottom: 2.4rem;
}

 .ladingButtonsgroup {
  display: grid;
  width: 100%;
  align-items: center;
  height:350px;
  padding: 0px;
}

.ladingButtonsgroupText{
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 3rem;  

  color: #F2F2F2;
}

 .ladingButtons{
  width: 100%;
  height: auto;
  display:grid;
  align-items: center;
  justify-content:space-around;
}

/* Sort button style - begin */
 .sortButton{
  display: grid;
  align-items: center;

  height: 100px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
  color: #F1F1F1;

  background: #FFB8A5;
}

 .sortButton i{
  text-align: center;
  font-size:25px;
  color: #F1F1F1;
  margin-top: 15px;
}

 .ladingButtonsgroup .ladingButtons .sortButton h3{
  font-family: Montserrat;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size:25px;
  color: #F1F1F1;
  margin-top: -35px;
}
/* Sort button style - end */

/* Tutorial button style - begin */
 .ladingButtonsgroup .ladingButtons #tutorialButton{
  display: grid;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 20rem;
  border-radius: 4px;
  color: #F1F1F1;

  background: #5B7290;
}

 .ladingButtonsgroup .ladingButtons #tutorialButton i{
  text-align: center;
  font-size: 27px;
  margin-top: 15px;
  color: #F1F1F1;
}

 .ladingButtonsgroup .ladingButtons #tutorialButton h3{
  font-family: Montserrat;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 27px;
  margin-top: -35px;
  color: #F1F1F1;
}
/* Tutorial button style - end */

/* Chrome extension button style - begin */
.chromeButton{
  display: none;
  align-items: center;
  justify-content: center;
}
/* Chrome extension button style - end */

/* Pop-Up styles - begin */
#tutorialPopup {
  width: 100%;
}
/* Pop-Up styles - end */

/* Cards styles - begin */
.cardsLanding{
  display: grid;
  height:auto;
  align-items: center;
  justify-content: center;
}
#b1{
  font-size: 32px;
  content: "Realize o \n sorteio";
  margin: 1rem 0rem;
}
/* General card style - begin */
#card{
  display: grid;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 18rem;
  padding: 1rem;
  margin: 1rem 2rem;
  border-radius: 16px;

  background: #ffffff;
}
/* General card style - end */
/* main of cardsLanding - begin */
.cardLabel{
  max-width: 100%;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: .6rem;
}
.cardInput{
  font-family: Montserrat;
  font-weight: 600;
  border-color: #FFB8A5;
  border-style: solid;
  border-radius: 10px;
  padding: .6rem;
  align-self: center;
  margin-bottom: 1rem;
}
#names{
  padding: 10px;
  min-width: 100%;
  max-width: 3.5em;
  min-height: 4em;
  max-height: 10em;
  border-radius: 5px;
  border: 1px solid #F67D5C;
  box-shadow: 1px 1px 1px #999;
  margin-bottom: 1rem;
}
.cardButton{
  width: 5.7rem;
  border-style: none;
  border-radius: 4rem;
  background-color: #5B7290;
  padding: .5rem;
  color: #F1F1F1;
  font-family: Montserrat;
  font-weight: 600;
  margin-left: 5rem;
}
.cardResults{
  margin-top: .5rem;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap;
}
#resultadoNumeros{
  font-family: Montserrat;
  font-weight: 600;
  color:#F67D5C;

  /* overflow:inherit; */
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  line-height: 20px;     /* fallback */
  max-height: 300px;      /* fallback */
  /* -webkit-line-clamp: 3; */ /* number of lines to show */
  -webkit-box-orient: vertical;
}
#resultadoNomes{
  font-family: Montserrat;
  font-weight: 600;
  color:#F67D5C;

  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  line-height: 32px;     /* fallback */
  max-height: 300px;      /* fallback */
 /*  -webkit-line-clamp: 20; */ /* number of lines to show */
  -webkit-box-orient: vertical;
}
/* main of cardsLanding - end */
/* Cards styles - end */

/* Banner instagram style - begin */
.bannerBox{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.bannerIMG{
  width: 90%;
  height: 8rem;
  border-radius:5px;
}
/* banner instagram style - end */

footer{
  display:grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 233px;
  background-color: #323232;
}

footer span{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24;
  color:#F1F1F1;
  margin-bottom: 0px;
}
}